*{
    margin: 0;
    padding: 0;
    
}
body{
   background-color:rgb(247 247 247);
    font-family: monospace;
}

/* start styling of header home section */

/* start edit of navbar */
.nav-edit{
    width: 100%;
    background: transparent;
    font-size: 20px;
}
.nav-edit img{
    width: 120px;
    margin-left: 100px;
}
.nav-edit .btn-edit{
    margin-right: 120px;
    background-color:hsl(7.31deg 100% 69.41%) ;
}
/* end edit of navbar */

.header-home{
    height: 650px;
    background-image:  linear-gradient(rgba(66, 147, 89, 0.647), rgba(64, 147, 82, 0.6)),url('..//img/glass.jpg');
    background-position: center;
    background-size: cover;
    
}

.flexbox .editbtn{
    background-color: hsl(124, 33%, 39%);
    color: #fff;
    border:hsl(146, 100%, 15%) ;
}
.flexbox .inputedit{
     
    border-radius: 30px;
   
}
@media only screen and (max-width:773px){
    .header-home{
        height: fit-content;
    }

}

 /*end styling of header home section */



 /* start styling  of read home section */
.read-home{
    height: 500px;
}
/* .read-home .editimg{
    
} */
@media only screen and (max-width:773px){
    .read-home{
        height: fit-content;
    }

}

 /* end styling  of read home section */



 /* start styling  of about home section */

.about-home{
    height: 600px;
   background-color: rgb(127 183 218);
}

/* //////////////////////////////////////عاوزه اديهم  نفس الطول مش عارفه////////////////////////////// */
.editcontainer .editdiv{
    height: 400px !important ;
}
@media only screen and (max-width:1200px){
    .about-home{
        height: fit-content;
        /* padding-bottom:30px ; */
    }

}
/* end styling  of about home section */

/* start styling  of footer home section */

.footer-home{
    background-color:rgb(0 125 104) ;
    border-radius:150px 150px 0px 0px ;
    padding-top: 60px;
    height: 400px;
    
}
.footer-home h4{
    color:rgb(196 131 108);

}
.footer-home a{
    color: #fff;
    display: block;
    margin-top: 20px;    
    }
@media only screen and (max-width:773px){
    .footer-home{
        height: fit-content;
    }

}
/* end styling  of footer home section */

